body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: rgb(180, 125, 231); /* Lilás claro */
}

header, footer {
    text-align: center;
    padding: 1em;
    background-color: rgb(180, 125, 231); /* Lilás */
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


a {
    color: rgb(180, 125, 231); /* Azul */
    text-decoration: none; /* Remove o sublinhado */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
