body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 1;
    padding: 1;
    padding: 2em;     
    background-color: white; 
}

header {
    text-align: center;
    padding: 1em;
    background-color: rgb(151, 80, 199); 
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: justify;
    padding: 1em;
    background-color: rgb(151, 80, 199);/* Lilás claro */
    background-color: rgb(186, 125, 227); 
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* === Botão === */
#Amigurumi img {
    width: 200px; /* Defina a largura máxima desejada */
    height: auto; /* Mantém a proporção da imagem */
    margin: 10px; /* Espaço ao redor de cada imagem */
    border-radius: 5px; /* Opcional: arredonda os cantos das imagens */
}

.cabecalho {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column; /* deixa o logo e o texto empilhados */
  padding: 20px;
  background-color: #fffafc; /* cor de fundo clara e artesanal */
  align-items: center;
  justify-content: flex-start;
  gap: 1px; /* Espaçamento entre logo e texto */
  margin: 8px;
}

.logo {
  width: 180px; /* ajuste conforme o tamanho da imagem */
  width: 380px; /* Ajuste o tamanho da logo */
  height: auto;
  margin-bottom: 10px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 imagens por linha */
    gap: 14px; /* espaçamento entre imagens */
    padding: 20px;
}

.galeria img {
    width: 100%;
    height: 380px; /* altura padrão fixa */
    object-fit: cover; /* corta a imagem sem distorcer */
    border-radius: 8px;
}

.card-produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}

#carrinho {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    width: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.grid-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* leve aumento pra dar respiro */
    margin-top: 20px;
}

/* Container do vídeo */
.video-item {
    width: 100%;
    height: 650px; /* 🔥 AJUSTE AQUI A ALTURA */
    overflow: hidden;
    border-radius: 8px;
}

/* Vídeo ocupa todo o container */
.video-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* nao mexer mais no layout