body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 1;
    padding: 1;
    background-color: white; 
}

header {
    text-align: center;
    padding: 1em;
    background-color: rgb(229, 191, 247); 
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: justify;
    padding: 1em;
    background-color: rgb(210, 160, 243); /* Lilás claro */
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: black; 
    text-decoration: none; /* Remove o sublinhado */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

#Amigurumi img {
    width: 300px; /* Defina a largura máxima desejada */
    height: auto; /* Mantém a proporção da imagem */
    margin: 10px; /* Espaço ao redor de cada imagem */
    border-radius: 5px; /* Opcional: arredonda os cantos das imagens */
}

div {
    display: block;
    unicode-bidi: isolate;
}


#produtos {
    display: flex;
    gap: 2em;
    padding: 1em;
}

.produto {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: center;
}

#carrinho {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    width: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#videos video, #videos iframe {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaço entre os itens */
}

#galeria img, #galeria video {
    width: calc(33.33% - 10px); /* 3 itens por linha com espaço entre eles */
    max-width: 100%;
    height: auto;
}
